<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.agriculture.mapper.BusOptimizationTaskMapper">
    
    <resultMap type="BusOptimizationTask" id="BusOptimizationTaskResult">
        <result property="taskId"    column="task_id"    />
        <result property="taskName"    column="task_name"    />
        <result property="mode"    column="mode"    />
        <result property="totalBudget"    column="total_budget"    />
        <result property="weightAesthetic"    column="weight_aesthetic"    />
        <result property="weightYield"    column="weight_yield"    />
        <result property="weightDifficulty"    column="weight_difficulty"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectBusOptimizationTaskVo">
        select task_id, task_name, mode, total_budget, weight_aesthetic, weight_yield, weight_difficulty, status, create_time from bus_optimization_task
    </sql>

    <select id="selectBusOptimizationTaskList" parameterType="BusOptimizationTask" resultMap="BusOptimizationTaskResult">
        <include refid="selectBusOptimizationTaskVo"/>
        <where>  
            <if test="taskName != null  and taskName != ''"> and task_name like concat('%', #{taskName}, '%')</if>
            <if test="mode != null "> and mode = #{mode}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBusOptimizationTaskByTaskId" parameterType="Long" resultMap="BusOptimizationTaskResult">
        <include refid="selectBusOptimizationTaskVo"/>
        where task_id = #{taskId}
    </select>

    <insert id="insertBusOptimizationTask" parameterType="BusOptimizationTask" useGeneratedKeys="true" keyProperty="taskId">
        insert into bus_optimization_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskName != null and taskName != ''">task_name,</if>
            <if test="mode != null">mode,</if>
            <if test="totalBudget != null">total_budget,</if>
            <if test="weightAesthetic != null">weight_aesthetic,</if>
            <if test="weightYield != null">weight_yield,</if>
            <if test="weightDifficulty != null">weight_difficulty,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskName != null and taskName != ''">#{taskName},</if>
            <if test="mode != null">#{mode},</if>
            <if test="totalBudget != null">#{totalBudget},</if>
            <if test="weightAesthetic != null">#{weightAesthetic},</if>
            <if test="weightYield != null">#{weightYield},</if>
            <if test="weightDifficulty != null">#{weightDifficulty},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateBusOptimizationTask" parameterType="BusOptimizationTask">
        update bus_optimization_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskName != null and taskName != ''">task_name = #{taskName},</if>
            <if test="mode != null">mode = #{mode},</if>
            <if test="totalBudget != null">total_budget = #{totalBudget},</if>
            <if test="weightAesthetic != null">weight_aesthetic = #{weightAesthetic},</if>
            <if test="weightYield != null">weight_yield = #{weightYield},</if>
            <if test="weightDifficulty != null">weight_difficulty = #{weightDifficulty},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where task_id = #{taskId}
    </update>

    <delete id="deleteBusOptimizationTaskByTaskId" parameterType="Long">
        delete from bus_optimization_task where task_id = #{taskId}
    </delete>

    <delete id="deleteBusOptimizationTaskByTaskIds" parameterType="String">
        delete from bus_optimization_task where task_id in 
        <foreach item="taskId" collection="array" open="(" separator="," close=")">
            #{taskId}
        </foreach>
    </delete>
</mapper>